body{margin:0;
     padding:0;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
header{display: flex;
       justify-content: space-between;
        background-color:rgba(245, 245, 249);}
header img{max-width:15vh;
            margin-left:18px;
            border-radius:200px;}
header ul{display: flex;
          gap:20px;
          list-style:none;
        margin-right:18px;}