body{margin:0;
     padding:0;
     font-family:'Times New Roman', Times, serif;}
header {display: flex;
        justify-content: space-between;
        background-color:rgba(245, 245, 249);}
header img{max-width:15vh;
            margin-left:18px;
            border-radius:200px;}
header ul{display: flex;
          gap:20px;
          list-style:none;
        margin-right:18px;}
.servicos {display: flex;
            gap:2vh;
           
                  }
.toza h1{font-size:15px;
          font-weight:300;
          text-align: center;
          border-bottom:2px solid rgb(116, 115, 106);}
.toza img{max-width:15.1vh;
          }
.vet h1{font-size:15px;
        font-weight: 300;
        text-align: center;
        border-bottom:2px solid rgb(116, 115, 106);}

     
.vet img{max-width:17vh;
         max-height:8.5vh;}
